/* styles.css */

/* General Styles */
body {
    font-family: 'Roboto';
    font-size: 22px;
    background-color: #ffffff3b;
    color: #333;
    margin: 15;
    padding: 0px;
    width: 280px;
    height: 110px;
    box-sizing: border-box;
}

/* Heading */
h1 {
    font-size: 18px; /* Larger font size */
    color: #5300ab; /* Purple color */
    text-align: left;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}

/* Paragraph */
p {
    text-align: center;
    text-align: justify;
    text-justify: inter-word;
    font-size: 14px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}


/* Image Container */
.image-container {
    float: right; /* Align the image to the right */
    margin-left: 0px;
}

.image-container img {
    width: 60px; /* Set the desired width */
    height: auto; /* Maintain aspect ratio */
}

/* Logo */
.logo {
    float: left;
    margin-right: 7px;
}

.logo img {
    width: 22px; /* Set the desired width */
    height: auto; /* Maintain aspect ratio */
}

#status.active {
    color: rgb(0, 210, 0);
}

#status.offline {
    color: rgb(244, 65, 65);
}

/* Status Border */
.status-border {
    padding: 2px 8px;
    border-radius: 12px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    min-width: 35px;
    margin-left: 5px;
}

/* Active Status */
#status.active {
    color: white;
    background-color: rgb(0, 210, 0);
    border: 2px solid rgb(0, 210, 0);
}

/* Offline Status */
#status.offline {
    color: white;
    background-color: rgb(244, 65, 65);
    border: 2px solid rgb(244, 65, 65);
}
